.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}